body {
  background: #CDD6D5;
  background: #cc0000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #EEEEEE, #EEEEEE);
  background: -moz-linear-gradient(right, #EEEEEE, #EEEEEE);
  background: -o-linear-gradient(right, #EEEEEE, #EEEEEE);
  background: linear-gradient(to left, #EEEEEE, #EEEEEE);
  -moz-osx-font-smoothing: grayscale; }

p {
  margin: 0; }

.form {
  text-align: center; }

.title {
  color: #233656;
  font-size: 2em;
  text-align: center; }

h2 {
  margin: 0; }

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto; }

.form {
  position: relative;
  z-index: 1;
  background: #f3f3f3;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

.form input {
  color: white;
  outline: 0;
  background: #5e5e5e;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px; }

.form input {
  outline: 0;
  background: #FB566A;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #c7b5b5;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease; }

.form input:hover, .form button:active, .form button:focus {
  background: #b6b8b6;
  color: #FB566A; }

.form .message {
  margin: 15px 0 0;
  color: #d1aaaa;
  font-size: 12px; }

.form .message a {
  color: #FB566A;
  text-decoration: none; }

.form .register-form {
  display: none; }

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto; }

.container:before, .container:after {
  content: "";
  display: block;
  clear: both; }

.container .info {
  margin: 50px auto;
  text-align: center; }

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a; }

.container .info span {
  color: #4d4d4d;
  font-size: 12px; }

.container .info span a {
  color: #000000;
  text-decoration: none; }

.container .info span .fa {
  color: #EF3B3A; }

/*# sourceMappingURL=style.css.map */
